$color-white: #FFFFFF; // background , text
$color-black: #000000; // principal text
$color-yellow: #FFCD00; // button, border
$color-grey: #EFEAE4; // "Pampas graphic chart" gris clair
$color-red: #F79D85; // rouge annulation, rouge indication negative
$color-green: #A5D0A8; // vert validation, vert indication positive
$color-blue: #8CB3DB; // bleu