@use '../../styles/vars';

.product{
  &__card{
    display: flex;
    flex-direction: column;
    background-color: vars.$color-green;
    border: 10px solid vars.$color-green;
    border-radius: 8px;
    width: 90%;
    height: 500px;
    margin: auto;
    padding: 0.5em;
  }
  &__picture{
      object-fit: contain;
      width:100%;
      height: 50%;
      &-img{
        max-height: 100%;
      }
  }
  &__informations{
    display: flex;
    flex-direction: column;
  }
  &__brand{
    font-weight: bold;
    font-size: large;
  }
  &__name{
    font-size: medium;
  }
  &__ingredients{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    &-picture{
      object-fit: contain;
      width:100%;
      height: 100%;
    }
  }
}
