@use '../../styles/vars';

.product{
  &__card{
    display: flex;
    flex-direction: row;
    background-color: vars.$color-green;
    border: 1px solid vars.$color-green;
    width: 750;
    height: 150px;
  }
  &__picture{
    width: 30%;
    align-self: center;
  }
  &__informations{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__brand{
    font-weight: bold;
    font-size: large;
  }
  &__name{
    font-size: medium;
  }
  &__ingredients{
    display: flex;
    flex-direction: row;
    &-picture{

    }
  }
}
