@use 'src/styles/_vars.scss';

.profil{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    &-title{
        font-size: 20px;
        font-style: italic;
    }

    &-field-input{
        width: 500px;
        font-size: 15px;
        height: 40px;
        margin-top: 20px; 
        background-color: vars.$color-grey;
    }

    &-allergy{
        width: 100%;
        margin: 40px 10px 20px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &-checkbox-div
    {
        background-color: vars.$color-grey;
        width: 200px;
        border: 2px solid black;
        margin: 10px;
        padding: 10px;
        font-size: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &-checkbox{
        margin-right: 20px
    }

    &-checkbox-label{
        text-align: start;
    }

    &-submit{
        width: 500px;
        font-size: 15px;
        border-radius: 5px;
        background-color: vars.$color-blue;
        padding: 5px;
        border: 1px solid black;
        border-bottom: 3px solid black;
    }

    @media screen and (max-width: 767px){
        &-field-input{
            width: 300px;
            font-size: 15px;
            height: 40px;
            margin-top: 20px; 
            background-color: vars.$color-grey;
        }
    
        &-allergy{
            width: 100%;
            margin: 40px 10px 20px 10px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        &-submit{
            width: 100%;
            font-size: 15px;
            border-radius: 5px;
            background-color: vars.$color-blue;
            padding: 5px;
            border: 1px solid black;
            border-bottom: 3px solid black;
        }
    }
};

